<h1>Create Candy!</h1>
<form method="POST" action="/candies">
    <input name="name" placeholder="Name"/>
    <input name="color" placeholder="Color"/>
    <input type="submit" value="Submit"/>
</form>